[submodule "my-programs/thingshare"]
	path = my-programs/thingshare
	url = https://github.com/Beskhue/thingshare
[submodule "nixpkgs-mozilla"]
	path = nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla.git
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/NixOS/nixpkgs.git
[submodule "emacs-overlay"]
	path = emacs-overlay
	url = https://github.com/nix-community/emacs-overlay.git
